.dot{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    height: 0.8em;
    width: 0.8em;
    z-index: 10;
}

.board{
    margin: 5px;
    background-color: black;
    width: 1200px;
    height: 768px;
    z-index: 1;
}

.coordinates{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

#root{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}